@font-face {
  font-family: Pokemon;
  src: url('../../Fonts/Pokemon-Solid.ttf');
}

h1,
h3 {
  font-family: Pokemon;
  color: #fecb1c;
  text-shadow:
    -3px -3px 0 #3861a9,
    3px -3px 0 #3861a9,
    -3px 3px 0 #3861a9,
    3px 3px 0 #3861a9;
}

header h3 {
  text-shadow:
    -2px -2px 0 #3861a9,
    2px -2px 0 #3861a9,
    -2px 2px 0 #3861a9,
    2px 2px 0 #3861a9;
}

p {
  color: black;
}

header {
  background-color: #273238;
  width: 100%;
  padding: 10px 0 25px 0;
}

.score-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

#root {
  width: 100%;
  text-align: center;
}

.pokemons-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}

@media (max-width: 1024px) {
  .pokemons-div {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .pokemons-div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .pokemons-div {
    grid-template-columns: 1fr;
  }
}

.card {
  padding: 2em;
}
